.property-show {
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-show-image-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.main-property-show-image {
    width: 408px;
    height: 408px;
    object-fit: cover;
    border-radius: 10px 0 0px 10px;
    margin: 4px;
}

.non-main-property-show-image {
        width: 200px;
            height: 200px;
            object-fit: cover;

}

.non-main-property-show-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 416px;
}

#third-show-page-image {
    border-radius: 0px 10px 0px 0px;
}

#fifth-show-page-image {
    border-radius: 0px 0 10px 0px;
}

.show-page-description {
    width: 832px;
}

.non-main-property-show-image {
    margin: 4px;
}

.show-page-property-name {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}

.show-page-city-state-us {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    padding-bottom: 12px;
}
