.property-show {
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    color: #222222;
    /* letter-spacing: 0.5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-show-image-container {
    display: flex;
    flex-direction: row;

}

.main-property-show-image {
    width: 408px;
    height: 408px;
    object-fit: cover;
    border-radius: 10px 0 0px 10px;
    margin: 4px;
}

.non-main-property-show-image {
        width: 200px;
            height: 200px;
            object-fit: cover;

}

.non-main-property-show-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 416px;
}

#third-show-page-image {
    border-radius: 0px 10px 0px 0px;
}

#fifth-show-page-image {
    border-radius: 0px 0 10px 0px;
}

.non-main-property-show-image {
    margin: 4px;
}

.show-page-property-name {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-bottom: 14px;
    padding-top: 4px;
}

.show-page-city-state-us {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.3px;
    padding-bottom: 18px;
}

.show-page-hosted-by {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 28px;
}

.show-page-num-beds-num-baths {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 28px;
}


.show-page-description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding: 24px 0px;
    width: 466px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.mid-show-page-container {
        width: 816px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.mid-left-show-page-info-container {
    width: 466px;
}

.mid-right-show-page-info-container {
    width: 400px; 
}

.mid-right-show-page-container {
    padding-bottom: 27px;
}

/* .reservation-form {
    width: 300px;
} */

.date-input-container {
    width: 130px;
}

.num-guests-input-container {
    width: 254px;
    height: 33px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-bottom: 10px;
}

.date-input-container {
    border: solid 1px #ccc;
}

.date-input-container:first-child {
    border-radius: 14px 0px 0px 0px;
}

.num-guests-input-container {
    border: solid 1px #ccc;
    border-radius: 0px 0px 14px 14px;
}

#left-date-input {
    border-radius: 14px 0px 0px 0px;
}

#right-date-input {
    border-radius: 0px 14px 0px 0px;
}

.date-input, .num-guests-input {
    border: none;
    outline: 0;
    padding: 4px;
    background-color: transparent;
}

.combined-date-input-container {
    display: flex;
    flex-direction: row;
}

.show-page-reservation-form-container {
    border: solid 1px #ccc;
    padding: 30px 20px 30px 20px;
    border-radius: 14px;
    box-shadow: 3px 3px 3px rgb(227, 227, 227);
    margin: 20px 0px 0px 50px;
    position: sticky;
    top: 20px;
    bottom: 20px;
}

.show-page-price-span {
    font-size: 22px;
    font-weight: 600;
}

.show-page-night-span {
    font-weight: 300;
}

.show-page-price {
    margin-bottom: 20px;
}

label {
    font-size: 11px;
    font-weight: 600;
    padding-left: 4px;
}

.reserve-button {
    width: 100%;
    height: 38px;
    margin-top: 8px;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(239, 18, 92);
    background-color: rgb(239, 18, 92);
    color: white;
    cursor: pointer;
}

.reservation-form-errors {
    font-size: 12px;
    color: red;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#host-show-page-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.show-page-hosted-by-room-details-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.show-page-hosted-by-room-details-container {
    display: flex;
        flex-direction: column;
    
}

.offering-icon {
    height: 24px;
    margin: 3px 8px;
}

.offering-container {
    color: #444444;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.what-this-place-offers-content-container {
    display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.what-this-place-offers-container {
    padding: 24px 0px;
}

.what-this-place-offers-heading {
    margin-bottom: 12px;
    font-weight: 500;
}

.aircover-icon {
    width: 90px;
    margin-bottom: 10px;
}

.aircover-container {
border-bottom: 1px solid rgb(230, 230, 230);
padding: 24px 0px;
font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.bottom-show-page-container {
    border-top: 1px solid rgb(230, 230, 230);
    width: 816px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}