.list-item-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

}

.properties-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    font-family: 'Montserrat',
    sans-serif;
    letter-spacing: -0.2px;
    font-size: 12.5px;
    line-height: 15px;
}

.properties-list-item {
    margin: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.property-index-property-name {
    margin-top: 6px;
    font-weight: 600;
}

.property-index-city-state {
    margin-top: 2px;
    color: gray;
}

.property-index-price-span {
    font-weight: 500;
}

.property-index-price {
    margin-top: 5px;
    font-size: 12.5px;
    line-height: 15.5px;
}