#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
}

#modal-content {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 12px;
    height: 380px;
    width: 500px;
    color: black;
    font-weight: 700;
    padding: 50px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.fa-x {
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        font-size: 16px;
            font-weight: 600;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
}

