.session-dropdown-button {
    padding: 5px 5px 5px 12px;
    background: transparent;
    cursor: pointer;
    margin-right: 60px;
    margin-left: 170px;
    text-align: inherit;
    /* background-color: var(--f-mkcy-f); */
    border: 1px solid rgb(209, 209, 209);
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    height: 38px;
    width: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa-user-circle:before {
    font-size: 18px;
    margin-left: -3px;
}

.fa-bars:before {
    font-size: 14px;
    margin-left: -1px;
}

.session-dropdown-button:hover {
    box-shadow: 2px 3px 2px rgb(214, 214, 214);
}

.session-dropdown-button > i {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin: 2px;
    color: rgb(99, 99, 99);
}

/* .whole-profile-nav {
    margin-right: 60px;
} */

.profile-dropdown {
        display: flex;
        position: absolute;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
        width: 230px;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        border: 1px solid rgb(188, 188, 188);
        margin-top: 8px;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.143);
        background-color: white;
        text-decoration: none;
        z-index: 10;
}

.clickable-option {
    color: #222222;
    cursor: pointer;
    text-decoration: none;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 10px;
}

.app-title {
    font-weight: 600;
    font-size: 22px;
    margin: 20px 20px 20px 50px;
    letter-spacing: -2px;
    color: rgb(239, 18, 92);
    display: flex;
    flex-direction: row;
    align-items: center;
 }

#app-logo {
 width: auto;
 height: 40px;
}

.searchbar-container {
    display: flex;
    padding: 5px 5px 5px 12px;
    background: transparent;
    /* cursor: pointer; */
    margin-right: 60px;
    margin-left: 170px;
    text-align: inherit;
    /* background-color: var(--f-mkcy-f); */
    border: 1px solid rgb(212, 212, 212);
    border-radius: 30px;
    transition: box-shadow 0.2s ease;
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
    height: 32px;
    width: 298px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-magnifying-glass {
    font-size: 12px;
    background-color: rgb(239, 18, 92);
    border-radius: 50%;
    color: white;
    padding: 7px;
    margin-right: 6px;
}

.searchbar-container div {
    letter-spacing: -0.7px;
    font-size: 13px;
}

.searchbar-anywhere {
    border-right: 1px solid rgb(200, 200, 200);
    padding-right: 15px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    /* margin-right: 30px; */
}
.searchbar-any-wife {
    border-right: 1px solid rgb(200, 200, 200);
    padding-right: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    /* margin-right: 30px; */
}
.searchbar-add-guests {
    color: rgb(136, 135, 135);
    font-weight: 350;
    padding-right: 12px;
}

.searchbar-fields {
    padding: 5px 5px 5px 12px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    line-height: 24px;
}
#app-title-link {
    text-decoration: none;
}